{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="row">

    <div class="col-sm-6">
        <h4 class="card-footer bg-primary text-white">followers List</h4>

        {% for follower in followers %}


        {% if follower %}

        <h4 class="card-footer">
            {% if follower.profile.photo %}
            <img src="{{follower.profile.photo.url}}" class="rounded img-thumbnail" width="40px;" height="10px;" />
            {% else %}
            <img src="{% static 'icon/avtar.png' %}" class="rounded img-thumbnail" width="40px;" height="10px;" />

            {% endif %}
            <a href="{% url 'blog:about' follower.username %}">{{follower.username}}</a>


        </h4>
        {% endif %}
        {% empty %}
        <h4 class="card-footer">
            Sorry you do not have any follower

            {% endfor %}

    </div>


    <div class="col-sm-6">
        <h4 class="card-footer bg-primary text-white">following List</h4>

        {% for following in followings %}


        {% if following %}

        <h4 class="card-footer">
            {% if following.user.profile.photo %}
            <img src="{{following.user.profile.photo.url}}" class="rounded img-thumbnail" width="40px;"
                height="10px;" />
            {% else %}
            <img src="{% static 'icon/avtar.png' %}" class="rounded img-thumbnail" width="40px;" height="10px;" />

            {% endif %}

            <a href="{% url 'blog:about' following.user %}">{{following.user.username}}</a>


        </h4>
        {% endif %}

        {% empty %}
        <h4 class="card-footer">
            Sorry, nobody is following you.



            {% endfor %}
    </div>


</div>


{% endblock %}